.page {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  color: white !important;
  margin-top: 90px;
  width: 70vw;
  background-blend-mode: lighten;
  background-image: linear-gradient(to right, blue 0%, red 100%),
    url("space.jpg");
}

.frame {
  margin: 0px;
  padding: 0px;
  font-size: 20px;
}

.title {
  display: flex;
  text-shadow: 2px 2px 5px rgba(63, 63, 63, 0.5);

  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 900;
  margin: 5px;
  border-bottom: 3px white solid;
  padding: 10px;
  justify-content: center;
  text-align: center;
}

.description-text,
.example-picture {
  margin: 20px 20px;
  text-shadow: 2px 2px 5px rgba(63, 63, 63, 0.5);
  display: flex;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
  overflow: auto;
}

.example-picture {
  display: flex;
  justify-content: center;
}
