.dash-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
}

.home-cont {
  text-align: center;
  margin-top: 100px;
}

h3 {
  line-height: 50px;
  font-size: 32px;
  margin-bottom: 40px;
  padding: 20px;
  text-decoration: underline;
  color: rgba(0, 132, 255, 0.712);
  text-shadow: 2px 1px 4px rgba(0, 0, 0, 0.438);
}
