.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

a {
  color: inherit !important;
  text-shadow: 2px 2px 2px rgba(128, 128, 128, 0.281);
}

a:hover {
  text-decoration: underline;
}

input:focus {
  outline: 0;
}

button:focus {
  outline: 0;
}

body {
  font-family: "Lora", serif;
  background-color: rgba(13, 14, 4, 0.582);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
